header{
    height: 150px;
    background-color: blue;
}

.hero{
    height: 300px;
    background-color: burlywood;
}

.container-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 300px;
    
}

.producto{
    height: 100px;
    width: 150px;
    margin-bottom: 10px;
    background-color: chartreuse;
}

main{
    height: 400px;
    background-color: brown;
}

footer{
    height: 100px;
    background-color: black;
}


